Iterface/bin/
Iterface/obj/
Model/bin/
Model/obj/
NETIOCPSvr/NETIOCPSvr_TemporaryKey.pfx
NETIOCPSvr/bin/
NETIOCPSvr/obj/
NETIOCPSvr/publish/
PaymentLib/bin/
PaymentLib/obj/
Service/bin/
Service/obj/
SqlDataAccess/bin/
SqlDataAccess/obj/
Utility/bin/
Utility/obj/
WebApi/bin/
WebApi/obj/
WebApi/Web.config
WebApi/Web.Debug.config
WebApi/Web.Release.config
WebApi/Properties/
