<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <!--localhost-->
    <add name="DataBase" connectionString="Server=localhost;DataBase=chuang;Persist Security Info=False;User ID=root;Password=root;Allow Zero Datetime=true;charset=utf8;Compress=false;Pooling=false;Max Pool Size=200;" providerName="MySql.Data.MySqlClient" />
    <!--    <add name="DataBase" connectionString="Server=120.26.229.125;DataBase=jiunodb;Persist Security Info=False;User ID=root;Password=jiuno123;Allow Zero Datetime=true;charset=utf8;Compress=false;Pooling=false;Max Pool Size=200;" providerName="MySql.Data.MySqlClient" />-->
    <!--winjoin-->
    <!--<add name="DataBase" connectionString="Server=115.29.203.198;DataBase=winjoin;Persist Security Info=False;User ID=root;Password=joy121!@!;Allow Zero Datetime=true;charset=utf8;Compress=false;Pooling=false;Max Pool Size=200;" providerName="MySql.Data.MySqlClient" />-->
    <!--winjoinTest-->
    <!--<add name="DataBase" connectionString="Server=115.29.203.198;DataBase=winjointest;Persist Security Info=False;User ID=root;Password=joy121!@!;Allow Zero Datetime=true;charset=utf8;Compress=false;Pooling=false;Max Pool Size=200;" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
</configuration>
